<h1><%= @title %></h1>

Output generated: <%= Time.now %>

<pre>
$ <%= @command %>
<%= @output %>

$ quota
Disk quotas for user efranz (uid 10851):
     Filesystem  blocks   quota   limit   grace   files   quota   limit   grace
10.11.200.25:/PZS0530/
                  33352  524288000 524288000               2  1000000 1000000
10.11.200.23:/PZS0562/
                101800800  524288000 524288000          916451  1000000 1000000
</pre>

<div id="chart">
  <svg></svg>
</div>

<script>
var chart = function(selector, data){
  nv.addGraph(function() {
      var chart = nv.models.bulletChart();

      d3.select(selector)
      .datum(data)
      .transition().duration(1000)
      .call(chart);

      return chart;
  });
};

chart('#chart svg', {
    "title":"/users/PZS0562",        //Label the bullet chart
      "subtitle":"916417/1000000 files",        //sub-label for bullet chart
      "ranges":[0,800000,1000000],     //Minimum, mean and maximum values.
      "measures":[916417],         //Value representing current measurement (the thick blue line in the example)
      "markers":[700000]             //Place a marker on the chart (the white triangle marker)
      // marker could be added if quota were different from limit
});

</script>
